@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET nhẹ cho banking UI */
html, body {
  margin: 0;
  padding: 0;
}

/* Optional: font mặc định */
body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
